/ProyectoJava/proyectoJava/nbproject/private/
/ProyectoJava/proyectoJava/build/
/ProyectoJava/proyectoJava/dist/
/ProyectoJava/botsociety/nbproject/private/
/ProyectoJava/botsociety/build/
/ProyectoJava/botsociety/dist/
/ProyectoJava/botsociety2/nbproject/private/
/ProyectoJava/botsociety2/build/
/ProyectoJava/botsociety2/dist/